# Berkas Paket
build-stamp
configure-stamp
debian/*.log
debian/*.substvars
debian/files
debian/debhelper-build-stamp

# Directory Paket
debian/xenta-welcome-screen
#gitpush
/source/WelcomeScreen/nbproject/private/
/source/WelcomeScreen/build/
/source/WelcomeScreen/dist/